anyio
certifi
charset-normalizer
click
dnspython
email-validator
et-xmlfile
fastapi
greenlet
Jinja2
MarkupSafe
numpy
openpyxl
pandas
passlib
pydantic
psycopg2-binary
python-dateutil
python-dotenv
python-multipart
pytz
requests
six
sniffio
SQLAlchemy==1.4
starlette
typing_extensions
urllib3
uvicorn
