{% extends "shared/base.html" %}

<link 
  rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/fonts-raleway@0.0.4/css/raleway.min.css" 
  integrity="sha256-bumjII09D4oX+jbH2DbDfvFmfjux5v/KEshhsJayorE=" 
  crossorigin="anonymous"
>
<meta 
  property="og:image" 
  content="{{ url_for('static', path='img/macs_giveaway_social_share.jpg') }}"
  alt="Let MO Play & Mac's Downtown Alton - $50 Giftcard giveaway. Enter via email submission to win."
/>
<meta 
  content="Win a $50 giftcar to Mac's Downtown Alton. Giveaway brought to you by Let MO Play & Mac's Downtown Alton" 
  name="description"
/>
<meta 
  property="og:description" 
  content="Win a $50 giftcar to Mac's Downtown Alton. Giveaway brought to you by Let MO Play & Mac's Downtown Alton"
/>
<meta 
  property="og:title" 
  content="Derby Giveaway - Win a giftcard to Mac's Downtown Alton!"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://twitter.com/LetMOPlay"
/>
<meta 
  property="twitter:title" 
  content="Derby Giveaway - Win a gift card to Mac's Downtown Alton!"
/>
<meta 
  property="twitter:description" 
  content="Win a $50 giftcar to Mac's Downtown Alton. Giveaway brought to you by Let MO Play & Mac's Downtown Alton"
/>
<meta 
  name="twitter:site" 
  content="@LetMOPlay"
/>
<meta 
  property="twitter:image" 
  content="{{ url_for('static', path='img/macs_giveaway_social_share.jpg') }}"
/>
<meta 
  name="twitter:image:alt" 
  content="Derby Giftcard Giveaway - Win a $50 giftcar to Mac's Downtown Alton. Giveaway brought to you by Let MO Play & Mac's Downtown Alton" 
/>
{% block header %} 
{% endblock %}

{% block content %} 
<main class="container-fluid giveaway">
  <section class="d-flex justify-content-center align-items-center giveaway-content">
    <div class="container container-md wrapper text-center">
      <div class="align-items-center">
        <h1>
          WIN A $50 GIFT CARD TO <br><a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://macsdowntown.com">MAC'S DOWNTOWN ALTON</a>
        </h1>
        <div class="container text-center">
          <form action="/submit-email" method="post" class="col align-items-center justify-content-center g-0">
            <div class="col-lg-7 col-md-5 g-0 mx-auto">
              <input type="email" name="email" id="email" placeholder="Email Address" class="form-control giveaway-btn-container">
            </div>
            <div class="col g-0 mx-auto">  
              <input type="submit" value="Submit" class="giveaway-btn">
            </div>
          </form>
        </div>
        <div class="container align-items-center text-center">
          <h4>
            <div class="col-lg-9 col-md-6 align-items-center text-center mx-auto">
              We are giving away two (2) $50 Gift Cards to <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://macsdowntown.com">Mac's Downtown Alton!</a> Subscribe to Enter!
              <div class="row d-flex text-center alignt-content-center justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-auto align-content-center pt-5 mt-2">
                  <a target="_blank" rel="noopener noreferrer" href="https://macsdowntown.com">
                    <img 
                      class="responsive-image"
                      src="{{ url_for('static', path='img/macs_downtown_logo.svg') }}"
                    >
                  </a>
                </div> 
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-auto align-content-center mt-5 pt-1 pb-2 mb-2">
                  <h1>  
                    <span style="font-weight:400;">&</span>
                  </h1> 
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-auto align-content-center pt-2">
                  <a target="_blank" rel="noopener noreferrer" href="https://letmoplay.com">
                    <img 
                      class="responsive-image"
                      src="{{ url_for('static', path='img/lmp_round_logo.svg') }}"
                    >
                  </a>
                </div>
              </div>  
            </div>
          </h4>
          <div class="container text-center">
            <div class="col-auto mx-auto">
              <div class="container col-lg-8 col-md-5 mx-auto">
                <p>
                  By entering the giveaway, you are confirming that you agree to the letmoplay.com 
                  <a href="https://letmoplay.com/privacy-policy"> Privacy Policy</a>
                  and <a href="https://letmoplay.com/user-agreement">User Agreement</a>
                  , which includes, but is not limited to, periodic correspondence and occasional personalized ads. 
                  You are also confirming that you are 21 years of age or older.
                  If you or someone you know is struggling with problem gambling, please seek help immediately. 
                  Resources and support are available, such as the National Problem Gambling Helpline (1-800-522-4700) or your local support organizations. 
                  Remember to bet responsibly and within your limits.
                </p>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock %} 
{% block footer %}
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/fonts-raleway@0.0.4/Gulpfile.min.js"></script>
{% endblock %}