<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-group"></i></div>
        <h4 class="title"><a href="https://podcasts.apple.com/us/podcast/heartland-pod/id1523089604">
          Missouri Sports Betting on The Heartland Pod
        </a></h4>
        <p class="description">
          We had a brief discussion with Adam Sommer about the 2023 efforts to legalize sports betting in Missouri, and we look ahead at the prospect of legal Missouri sports betting in 2024 (or 2025...)
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon">
          <i class="bx bx-message-detail"></i>
        </div>
        <h4 class="title">
          <a href="https://www.senate.mo.gov/legislookup/">
            Look up your Missouri Senator
          </a>
        </h4>
        <p class="description">
          Social Media is a great way to spread the word about Missouri sports betting legislation. But don't be afraid to contact your senator - remember, they work for you! A simple email letting them know that you're paying attention to the Missouri sports betting debate can go a long way.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box">
        <div class="icon">
          <i class="bx bx-at"></i>
        </div>
        <h4 class="title">
          <a href="https://twitter.com/LetMOPlay">
            Follow us on Twitter
          </a>
        </h4>
        <p class="description">
          Help spread the word about the Missouri sports betting legalization efforts by following Let MO Play on Twitter! It's the best way to get the most recent updates, particularly when the Missouri Senate is in session. 
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
      <div class="icon-box">
        <div class="icon">
          <i class="bx bx-upvote"></i>
        </div>
        <h4 class="title">
          <a href="#subscribe">
            Get Off the Bench
          </a>
        </h4>
        <p class="description">
          Subscribe to the Let MO Play Missouri Sports Betting Newsletter so you never miss a beat with legalization news or the most recent promotions!
        </p>
      </div>
    </div>
  </div>
</div>