{% extends "shared/base.html" %}

{% block title %}
  <title>Let MO Play - Legalize Sports Betting in Missouri</title>
{% endblock %} 

{% block head %}
  <meta 
    content="Let MO Play - Legalize Sports Betting in Missouri" 
    name="title"
  />
  <meta 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us MAKE IT HAPPEN in 2024!" 
    name="description"
  />
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
    alt="Let MO Play round logo"
  />
  <meta 
    property="og:description" 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us MAKE IT HAPPEN in 2024!"
  />
  <meta 
    property="og:title" 
    content="Let MO Play - Legalize Sports Betting in Missouri"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://letmoplay.com/"
  />
  <meta 
    property="twitter:site" 
    content="@LetMOPlay"
  />
  <meta 
    property="twitter:title" 
    content="Let MO Play - Legalize Sports Betting in Missouri"
  />
  <meta 
    property="twitter:description" 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us MAKE IT HAPPEN in 2024!"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
  />
  <meta 
    property="twitter:image:alt" 
    content="Let MO Play round logo"
  />
  <meta 
    name="twitter:widgets:autoload"
    content="off"
  />
  <link 
    rel="canonical" 
    href="https://letmoplay.com"
  />
  <meta 
    name="keywords" 
    content="let mo play, let mo sports betting, let mo, sports betting mo, missouri sports betting, missouri sports gambling, mo sports betting, mo sports gambling, missouri draftkings, missouri fanduel, how to bet on sports in missouri, how to bet on the nfl in missouri, how to bet on the mlb in missouri, how to bet on the cardinals in missouri, how to bet on the chiefs in missouri, can you bet on sports in missouri, can you sports bet in missouri, can you gamble on sports in missouri, how do you gamble on sports in missouri, how to sports gamble in missouri"
  />
  
{% endblock %}

{% block header %}  
{% endblock %}

{% block content %} 
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">
              Welcome to <span>Let MO Play</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Join the team and help us legalize sports betting in Missouri
            </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">
              Enter <span>to Win 3 Tickets!</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Follow <a style="color: #F6B024" href="https://instagram.com/let.mo.play"><u>Let MO Play</u></a> on instagram and enter your email for our Newsletter for your chance to watch the exciting Gold Cup in St. Louis.
            </p>
            <a 
              target="_blank" 
              rel="noopener noreferrer" 
              href="/usmnt-stl-tickets-giveaway" 
              class="btn-get-started animate__animated animate__fadeInUp">
                Enter Giveaway
            </a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Check Out Our Blog</h2>
            <p class="animate__animated animate__fadeInUp">Exclusive content about Missouri sports betting legalization and sports betting education.</p>
            <a href="/blogs" class="btn-get-started animate__animated animate__fadeInUp scrollto">
              Read More
            </a>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Sports betting and the Missouri Senate in 2023 and 2024</h2>
            <p class="animate__animated animate__fadeInUp">Relive, if you dare, the roller-coaster sports betting debate in the Missouri Senate in 2023. We also take a look at legal sports betting prospects for 2024.</p>
            <a href="blogs/2023/July/sports-betting-missouri-senate-2023-2024" class="btn-get-started animate__animated animate__fadeInUp scrollto">
              Read More
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </section>
    <!-- End Hero -->
    <main id="main">
      <!-- ======= Icon Boxes Section ======= -->
      <section id="icon-boxes" class="icon-boxes">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-group"></i></div>
                <h4 class="title"><a href="#subscribe">Join the Team!</a></h4>
                <p class="description">Subscribe to the newsletter to stay up-to-date with the latest Missouri sports-betting legalization news and let's legalize Sports Gambling in Missouri in 2024! Just click the logo!</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-message-detail"></i></div>
                <h4 class="title"><a href="#subscribe">Get Involved!</a></h4>
                <p class="description">Social Media is a great way to spread the word, but don't be afraid to email your senator! Remember, THEY WORK FOR YOU! Not sure who your senator is? We've got you covered. Just click this link (or the icon above)!</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-at"></i></div>
                <h4 class="title"><a href="#subscribe">Follow us!</a></h4>
                <p class="description">Click the logo to follow Let MO Play on socials and help spread the word so our lawmakers MAKE IT HAPPEN in 2024! #LetMOPlay</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-upvote"></i></div>
                <h4 class="title"><a href="#subscribe">Get Off the Bench!</a></h4>
                <p class="description">The prohibition of sports betting in Missouri has gone on long enough. Join the team and stay up to date on the latest!</p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Icon Boxes Section -->
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Who are we?</h2>
            <p>At Let MO Play, we are dedicated to raising awareness about the benefits of legalizing sports betting in Missouri. We are committed to promoting local businesses and highlighting the positive impacts that legal sports betting can have on the state's economy.</p>
          </div>
          <div class="row content">
            <div class="col-lg-6">
              <p>
                As lifelong residents of Missouri, we are deeply connected to our state and committed to promoting policies that benefit our communities. We believe that legalizing sports betting can provide a new means of revenue for the state and create new job opportunities for residents.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> We use social media to connect with residents and politicians in Missouri to create a dialogue about the benefits for local businesses and the state's economy.</li>
                <li><i class="ri-check-double-line"></i> Let MO Play collaborates with local businesses that can benefit from legal sports betting, such as sports bars and restaurants.</li>
                <li><i class="ri-check-double-line"></i> We prioritize responsible betting. Resources such as <a href="https://www.ncpgambling.org/">National Council on Problem Gambling</a> and <a href="https://www.gamblersanonymous.org/ga/">Gambler's Anonymous</a> are available if needed.</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Let MO Play is committed to promoting responsible gambling and increasing sports engagement to provide a boost to local economies. Plus, legalization can help combat illegal sports betting and match-fixing, ensuring the integrity of sports competitions. Don't miss out on the chance to be a part of this exciting movement!
              </p>
              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </section><!-- End About Us Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="row g-1 mx-auto">
            <div class="col-lg-5 pt-lg-5 mt-lg-5 align-items-stretch position-relative video-box mx-auto" data-aos="fade-right">
              {% include "components/twitter-post.html" %}
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">
              <div class="content">
                <h3>Missourians are <strong>losing millions in tax dollars</strong></h3>
                <p>
                  According to the American Gaming Association, sports betting generated a record $4.33 Billion in revenue. It remains to be seen what, exactly, the tax rate would be if Missouri were to legalize sports betting. However, published estimates consistently predict legalizing sports betting would generate $20-40 million in additional tax revenue for the state's education system.
                </p>
              </div>
              <div class="accordion-list">
                <ul>
                  <li data-aos="fade-up" data-aos-delay="100">
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> What have other states done? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        <a href="https://sbg.colorado.gov/sites/sbg/files/documents/Top%2010%20Sports%20by%20Total%20Wagers%20May%202020%20to%20Present.pdf">Colorado generated almost $44,000,000 in additional tax revenue</a> in the first 3 years since legalizing sports betting in May of 2020.
                      </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200">
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Who benefits from legalization? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        The answer is small businesses and residents. Local bars and restaurants will have access to an entirely new marketing stream, which could attract new customers.</p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300">
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> How much can we gain? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        As a demonstration of what sports betting can do for the local economy - <a href="https://www.playnj.com/news/may-2023-nj-sports-betting-revenue/72096/">New Jersey sportsbooks generated $82.2 million in revenue in the month of May, 2023.</a> Ending prohibition will create jobs in a variety of sectors, including casinos, sportsbooks, and technology companies with the potential to create thousands of jobs in the state of Missouri.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Why Us Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Join the Team!</h3>
              <p> Subscribe to the newsletter to stay up to date with the latest in Missouri sports betting legalization news and LET'S MAKE IT HAPPEN in 2024!</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#subscribe">Join the Team</a>
            </div>
          </div>
        </div>
      </section><!-- End Cta Section -->
   
      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Stakeholders</h2>
          </div>
          <div class="row g-4">
            <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Luetkemeyer34.jpg" class="img-fluid" alt="Tony Luetkemeyer Missouri Senate">
                </div>
                <div class="member-info">
                  <h4>Tony Luetkemeyer</h4>
                  <span>Missouri Senate</span>
                  <p>"... As long as one (bill) reaches the governor’s desk, I will be satisfied"</p>
                  <div class="social">
                    <a href="https://twitter.com/TonyForMissouri"><i class="ri-twitter-fill"></i></a>
                    <a href="https://www.facebook.com/TonyForMissouri/"><i class="ri-facebook-fill"></i></a>
                    <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=34">
                      <i class="bi bi-envelope-at-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Hoskins21.jpg" class="img-fluid " alt="Denny Hoskins Missouri Senate"></div>
                <div class="member-info">
                  <h4>Denny Hoskins</h4>
                  <span>Missouri Senate</span>
                  <p>“I think nothing is off the table and that we can come to some sort of compromise"</p>
                  <div class="social">
                    <a href="https://twitter.com/DLHoskins"><i class="ri-twitter-fill"></i></a>
                    <a href="https://www.facebook.com/hoskinsformissouri/"><i class="ri-facebook-fill"></i></a>
                    <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=21">
                      <i class="bi bi-envelope-at-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Team Section -->
      
    {% include "components/form.html" %}
    
    </main><!-- End #main -->
  {% endblock %}
  
  {% block footer %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}


