{% extends "shared/base.html" %}

{% block title %}
  <title>Let MO Play - Advocating to Legalize Sports Betting in Missouri in 2024</title>
{% endblock %} 

{% block head %}
  <meta 
    content="Let MO Play - Advocating to Legalize Sports Betting in Missouri in 2024" 
    name="title"
  />
  <meta 
    property="og:title" 
    content="Let MO Play - Advocating to Legalize Sports Betting in Missouri in 2024"
  />
  <meta 
    property="twitter:title" 
    content="Let MO Play - Advocating to Legalize Sports Betting in Missouri in 2024"
  />
  <meta 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us make legal sports betting in MO a reality!" 
    name="description"
  />
  <meta 
    property="og:description" 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us make legal sports betting in MO a reality!"
  />
  <meta 
    property="twitter:description" 
    content="Let MO Play is advocating for the legalization of sports betting in the State of Missouri. Join the Team and help us make legal sports betting in MO a reality!"
  />
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
    alt="Let MO Play round logo"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
  />
  <meta 
    property="twitter:image:alt" 
    content="Let MO Play round logo"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:site" 
    content="@LetMOPlay"
  />
  <meta 
    name="twitter:widgets:autoload"
    content="off"
  />
  <meta 
    property="twitter:url" 
    content="https://letmoplay.com/"
  />
  <link 
    rel="canonical" 
    href="https://letmoplay.com"
  />
  <meta 
    name="keywords" 
    content="let mo play, missouri sports betting, missouri sports gambling"
  />
  
{% endblock %}

{% block header %}  
{% endblock %}

{% block content %} 
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">
              Welcome to <span>Let MO Play</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Join the team and help us legalize sports betting in Missouri in 2024!
            </p>
            <a href="#subscribe" class="btn-get-started animate__animated animate__fadeInUp scrollto">Let's do this</a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">
              Follow for Free Stuff!
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Follow <a style="color: #F6B024" href="https://instagram.com/let.mo.play"><u>Let MO Play</u></a> on instagram and subscribe so you don't miss our next sports betting themed promotion!
            </p>
            <a 
              target="_blank" 
              rel="noopener noreferrer" 
              href="/join-the-cause" 
              class="btn-get-started animate__animated animate__fadeInUp">
                Join the Team
            </a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Check Out Our Blog</h2>
            <p class="animate__animated animate__fadeInUp">Exclusive content about Missouri sports betting legalization and sports betting education.</p>
            <a href="/blogs" class="btn-get-started animate__animated animate__fadeInUp scrollto">
              Read More
            </a>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Sports betting and the Missouri Senate in 2023 and 2024</h2>
            <p class="animate__animated animate__fadeInUp">Relive, if you dare, the roller-coaster sports betting debate in the Missouri Senate in 2023. We also take a look at legal sports betting prospects for 2024.</p>
            <a href="blogs/2023/July/sports-betting-missouri-senate-2023-2024" class="btn-get-started animate__animated animate__fadeInUp scrollto">
              Read More
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </section>
    <!-- End Hero -->
    <main id="main">
      <!-- ======= Icon Boxes Section ======= -->
      <section id="icon-boxes" class="icon-boxes">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-group"></i></div>
                <h4 class="title"><a href="https://podcasts.apple.com/us/podcast/heartland-pod/id1523089604">We're on The Heartland Pod</a></h4>
                <p class="description">We had a brief discussion with Adam Sommer about the 2023 efforts to legalize sports betting in Missouri, and we look ahead to When we might be able to place a legal sports wager in Missouri in the future.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-message-detail"></i></div>
                <h4 class="title"><a href="https://www.senate.mo.gov/legislookup/">Find Your Senator</a></h4>
                <p class="description">Social Media is a great way to spread the word, but don't be afraid to email your senator! Remember, THEY WORK FOR YOU! Not sure who your Missouri senator is? We've got you covered. Just click this link (or the icon above)!</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-at"></i></div>
                <h4 class="title"><a href="https://twitter.com/LetMOPlay">Follow us on Twitter</a></h4>
                <p class="description">Click the logo to follow Let MO Play on Twitter - help spread the word so Missouri's lawmakers know you want them know you're a sports bettor and you'll be paying attention next spring! #LetMOPlay</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-upvote"></i></div>
                <h4 class="title"><a href="#subscribe">Get Off the Bench</a></h4>
                <p class="description">The prohibition of sports betting in Missouri has gone on long enough. Join the team and stay up to date on the latest!</p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Icon Boxes Section -->
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Is Sports Betting Legal in Missouri?</h2>
            <h3>In short, no. Efforts to legalize sports betting in Missouri have, unfortunately, stalled in the State Senate for the last several years.</h3>
          </div>
          <div class="row content">
            <div class="col-lg-6">
              <p>
                Now, in the absence of any other strategy, it's up to us (that's all of us, Missouri Sports Bettors) to let our lawmakers know: We want them to legalize sports betting NOW. Enough is enough. You can help by:
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>Being vocal. It can be as easy as a brief comment on Twitter, or as intensive as <a href="https://www.senate.mo.gov/legislookup/"> hand-writing a letter to your Missouri legislators.</a> Every little bit helps.</li>
                <li><i class="ri-check-double-line"></i>Spreading the word! Sports fans hang out with other sports fans. If your friends support the sports betting legalization effort, let them know to get involved by <a href="#subscribe">subscribing to the newsletter</a> or <a href="https://twitter.com/LetMOPlay">following Let MO Play on Twitter.</a></li>
                <li><i class="ri-check-double-line"></i>Keep playing. Whether you make the trek to Illinois, Kansas, or one of the 5 other states bordering Missouri that have legalized sports betting, keep it up! <a href="blogs/2023/July/sports-betting-missouri-senate-2023-2024.html">Our lawmakers don't care about much,</a> but if they see money leaving our state, maybe, just maybe, they'll change their tune.</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Let MO Play is committed to responsible gambling. If you, or someone you know, has a gambling problem, call 888-BETSOFF(238-7633). 
              </p>
              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </section><!-- End About Us Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="row g-1 mx-auto">
            <div class="col-lg-5 pt-lg-5 mt-lg-5 align-items-stretch position-relative video-box mx-auto" data-aos="fade-right">
              {% include "components/twitter-post.html" %}
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">
              <div class="content">
                <h3>Legal sports betting in Missouri could bring <strong>millions of tax dollars</strong> to the state</h3>
                <p>
                  According to the American Gaming Association, sports betting generated a record $4.33 Billion in revenue in 2022. It remains to be seen what, exactly, the tax rate would be if Missouri were to legalize sports betting. However, published estimates consistently predict legalizing sports betting would generate $20-40 million in additional tax revenue for the state's education system.
                </p>
              </div>
              <div class="accordion-list">
                <ul>
                  <li data-aos="fade-up" data-aos-delay="100">
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> What have other states done? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        <a href="https://sbg.colorado.gov/sites/sbg/files/documents/Top%2010%20Sports%20by%20Total%20Wagers%20May%202020%20to%20Present.pdf">Colorado generated almost $44,000,000 in additional tax revenue</a> in the first 3 years since legalizing sports betting in May of 2020.
                      </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200">
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Who benefits from legalization? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        The answer is small businesses and residents. Local bars and restaurants will have access to an entirely new marketing stream, which could attract new customers.</p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300">
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> How much can we gain? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        As a demonstration of what sports betting can do for the local economy - <a href="https://www.playnj.com/news/may-2023-nj-sports-betting-revenue/72096/">New Jersey sportsbooks generated $82.2 million in revenue in the month of May, 2023.</a> Ending prohibition will create jobs in a variety of sectors, including casinos, sportsbooks, and technology companies with the potential to create thousands of jobs in the state of Missouri.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Why Us Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Join the Team!</h3>
              <p> Subscribe to the newsletter to stay up to date with the latest in Missouri sports betting legalization news and LET'S MAKE IT HAPPEN in 2024!</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#subscribe">Join the Team</a>
            </div>
          </div>
        </div>
      </section><!-- End Cta Section -->
   
      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Stakeholders</h2>
          </div>
          <div class="row g-4">
            <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Luetkemeyer34.jpg" class="img-fluid" alt="Tony Luetkemeyer Missouri Senate">
                </div>
                <div class="member-info">
                  <h4>Tony Luetkemeyer</h4>
                  <span>Missouri Senate</span>
                  <p>"... As long as one (bill) reaches the governor’s desk, I will be satisfied"</p>
                  <div class="social">
                    <a href="https://twitter.com/TonyForMissouri"><i class="ri-twitter-fill"></i></a>
                    <a href="https://www.facebook.com/TonyForMissouri/"><i class="ri-facebook-fill"></i></a>
                    <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=34">
                      <i class="bi bi-envelope-at-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Hoskins21.jpg" class="img-fluid " alt="Denny Hoskins Missouri Senate"></div>
                <div class="member-info">
                  <h4>Denny Hoskins</h4>
                  <span>Missouri Senate</span>
                  <p>“I think nothing is off the table and that we can come to some sort of compromise"</p>
                  <div class="social">
                    <a href="https://twitter.com/DLHoskins"><i class="ri-twitter-fill"></i></a>
                    <a href="https://www.facebook.com/hoskinsformissouri/"><i class="ri-facebook-fill"></i></a>
                    <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=21">
                      <i class="bi bi-envelope-at-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Team Section -->
      
    {% include "components/form.html" %}
    
    </main><!-- End #main -->
  {% endblock %}
  
  {% block footer %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}


