{% extends "shared/base.html" %}

{% block head %} 
  <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/fonts-raleway@0.0.4/css/raleway.min.css" 
    integrity="sha256-bumjII09D4oX+jbH2DbDfvFmfjux5v/KEshhsJayorE=" 
    crossorigin="anonymous"
  >
  <link 
    rel="canonical" 
    href="https://letmoplay.com/blogs/2023/May/join-the-cause"
  />
  <meta
    name="og:type"
    content="website"
  />
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='img/subscribe-to-newsletter.png') }}"
    alt="Join the Let MO Play Newsletter so you're up-to-date on the latest Missouri Sports Betting news and legislation."
  />
  <meta 
    content="Join the Let MO Play Newsletter so you're up-to-date on the latest Missouri Sports Betting news and legislation." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="Join the Let MO Play Newsletter so you're up-to-date on the latest Missouri Sports Betting news and legislation."
  />
  <meta 
    property="og:title" 
    content="Join the Let MO Play Newsletter"
  />
  <meta 
    property="og:url" 
    content="https://letmoplay.com/join-the-cause"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://letmoplay.com/join-the-cause"
  />
  <meta 
    property="twitter:title" 
    content="Join the Let MO Play Newsletter"
  />
  <meta 
    property="twitter:description" 
    content="Join the Let MO Play Newsletter so you're up-to-date on the latest Missouri Sports Betting news and legislation."
  />
  <meta 
    name="twitter:site" 
    content="@LetMOPlay"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='img/subscribe-to-newsletter.png') }}"
  />
  <meta 
    name="twitter:image:alt" 
    content="Join the Let MO Play Newsletter so you're up-to-date on the latest Missouri Sports Betting news and legislation." 
  />
{% endblock %}

{% block title %}
  <title>Subscribe to the Let MO Play Missouri Sports Betting Newsletter</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %} 
<main class="container-fluid giveaway">
  <section class="d-flex justify-content-center align-items-center">
    <div class="container container-md wrapper text-center" data-aos="fade-up">
      <div class="align-items-center">
        <h1>
          Missouri Sports Betting<br>Newsletter
        </h1>
        <h4>
          Subscribe
        </h4>
      </div>
      <div class="container text-center">
        <form action="/submit-email" method="post" class="col align-items-center justify-content-center g-0">
          <div class="col-lg-7 col-md-5 g-0 mx-auto">
            <input type="email" name="email" id="email" placeholder="Email Address" class="form-control giveaway-btn-container">
          </div>
          <div class="col g-0">  
            <input type="submit" value="Submit" class="giveaway-btn">
          </div>
        </form>
      </div>
      <div class="container align-items-center text-center">
        <h4>
          <div class="col-lg-9 col-md-6 mt-5 align-items-center text-center mx-auto">
            <span>
              Sign up for the Let MO Play Missouri Sports Betting Newsletter so you never miss the latest news or promotion!
            </span>
          </div>
        </h4>
      </div>
      <div class="container col-lg-8 col-md-5 mx-auto">
        <p>
          By subscribing, you are confirming that you agree to the letmoplay.com 
          <a href="https://letmoplay.com/privacy-policy"> Privacy Policy</a>
          and <a href="https://letmoplay.com/user-agreement">User Agreement</a>
          , which includes, but is not limited to, periodic correspondence and occasional personalized ads. 
          You are also confirming that you are 21 years of age or older.
          If you or someone you know is struggling with problem gambling, please seek help immediately. 
          Resources and support are available, such as the National Problem Gambling Helpline (1-800-522-4700) or your local support organizations. 
          Remember to bet responsibly and within your limits.
        </p>
      </div>  
    </div>
  </section>
</main>


{% endblock %} 
{% block footer %}
{% endblock %}
{% block scripts %}
<script>
function removeExistingCsrfTokens() {
  document.querySelectorAll('input[name="csrf_token"]').forEach(input => {
    input.remove();
  });
}
setTimeout(function() {
  removeExistingCsrfTokens();
  
  fetch('/generate/')
  .then(response => response.json()) 
  .then(data => {
    const csrfToken = data.csrf_token; 

    document.querySelectorAll('form').forEach(form => {
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'csrf_token'; 
      input.value = csrfToken;
      form.appendChild(input);
    });
  });
}, 7000);
</script>
<script src="https://cdn.jsdelivr.net/npm/fonts-raleway@0.0.4/Gulpfile.min.js"></script>
{% endblock %}