{% extends "shared/base.html" %}
{% block head %} 
  <meta
    name="og:type"
    content="website"
  />
  <meta 
    content="Let MO Play Shop" 
    name="Purchase Let MO Play merchandise and help support legal sports-betting for Missourians."
  />
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
    alt="Let MO Play circular logo"
  />
  <meta 
    property="og:description" 
    content="Purchase Let MO Play merchandise and help support legal sports-betting for Missourians."
  />
  <meta 
    property="og:title" 
    content="Let MO Play Shop"
  />
  <meta 
    property="og:url" 
    content="https://letmoplay.com/shop"
  />
  <meta 
    name="twitter:card" 
    content="summary"
  />
  <meta 
    property="twitter:url" 
    content="https://letmoplay.com/shop"
  />
  <meta 
    name="twitter:title" 
    content="Let MO Play Shop"
  />
  <meta 
    name="twitter:description" 
    content="Purchase Let MO Play merchandise and help support legal sports-betting for Missourians."
  />
  <meta 
    name="twitter:site" 
    content="@LetMOPlay"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
  />
  <meta 
    property="twitter:image:alt"
    content="Let MO Play circular logo"
   />  
  <meta 
    name="twitter:widgets:autoload"
    content="off"
  />
  <link 
    rel="canonical" 
    href="https://letmoplay.com/shop"
  />
{% endblock %}

{% block title %}   
  <title>
    Let MO Play - Shop
  </title> 
{% endblock %} 

{% block header %}
{% endblock %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">    
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/join-the-cause">More</a></li>
      </ol>
      <h2>Let MO Play Shop</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <section class="align-items-center" style="position: relative; height: 100vh;">
      {% include "components/page-sections/printify.html" %} 
  </section>
  <section class="container align-items-center text-center justify-content-center">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 col-lg-7 col-xl-6 ms-md-4 ms-lg-3 ps-lg-3 ps-xl-5 ps-md-5"> 
        <div class="container-fluid" id="tweet-container">
          <script src="https://platform.twitter.com/widgets.js"></script>
          <script>
            twttr.widgets.createTweet(
              "1676746281522274306",
              document.getElementById("tweet-container"),
              {
                
              }
            );
          </script>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}