{% extends "shared/base.html" %}

{% block title %} 
  <title>LMP - Unsubscribe</title>
{% endblock %} 

{% block header %} 
  <meta 
    content="Let MO Play - Unsubscribe" 
    name="description"
  />
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
    alt="Let MO Play round logo"
  />
  <meta 
    property="og:description" 
    content="Let MO Play - Unsubscribe"
  />
  <meta 
    property="og:title" 
    content="Let MO Play"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://letmoplay.com/"
  />
  <meta 
    property="twitter:site" 
    content="@LetMOPLay"
  />
  <meta 
    property="twitter:title" 
    content="Let MO Play"
  />
  <meta 
    property="twitter:description" 
    content="Let MO Play - Unsubscribe"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
    alt="Let MO Play round logo"
  />
{% endblock %}

{% block content %} 
<br><br><br><br><br>
  <section class="contact d-flex justify-cntent-center align-items-center">
    <div class="container container-md wrapper">
      <div class="card align-items-center">
        <div class="card-body text-center">
          <h2 style="text-align: center">
            You are unsubscribing from<br>Let MO Play and Let MO Bet<br><br>
          </h2>
          <h6 style="text-align: center">
            To proceed, enter your email address and click "Opt Out"<br><br>
          </h6>
        </div>
        <form method="post" action="/unsubscribe-submit">
          <div class="row g-2" id="unsub-row">
            <div class="col-md-9 mb-2" id="form-col">
              <input 
                id="form-input"
                type="email" class="form-control form-control-sm" 
                id="unsub_email" name="email" placeholder="Email Address Required" required
              >
            </div>
            <div class="col-md-3 mb-2" id="form-col">
              <button type="submit" id="submit-btn" class="btn btn-secondary">Opt Out</button>
            </div>
          </div>
        </form>
        <div>
          <h4 style="text-align: center">
            We are sad to see you go.<br><br>
            Send us a message at <a href="mailto: letmoplay@letmoplay.com"> 
            letmoplay@letmoplay.com</a> to let us know how to get you back
          </h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %} 

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}