
  {% extends "shared/base.html" %}
    {% block header %}
    <meta 
      property="og:image" 
      content="{{ url_for('static', path='img/cautious-optimism-for-sports-betting-in-2023.jpg') }}"
      alt="Potential Debate Creative"
    />
    <meta 
      property="og:description" 
      content="Sponsor of House Bill 556, Representative Dan Houx, is still holding out hope that a deal can be reached."
    />
    <meta 
      property="og:title" 
      content="Cautious Optimism for Sports Betting in 2023"
    />
    <meta 
      name="twitter:card" 
      content="summary_large_image"
    />
    <meta 
      property="twitter:url" 
      content="https://letmoplay.com/blogs/2023/April/Cautious-Optimism-for-Sports-Betting-in-2023"
    />
    <meta 
      property="twitter:title" 
      content="Cautious Optimism for Sports Betting in 2023"
    />
    <meta 
      property="twitter:description" 
      content="Sponsor of House Bill 556, Representative Dan Houx, is still holding out hope that a deal can be reached."
    />
    <meta 
      name="twitter:site" 
      content="https://letmoplay.com/"
    />
    <meta 
      property="twitter:image" 
      content="{{ url_for('static', path='img/cautious-optimism-for-sports-betting-in-2023.jpg') }}"
      alt="Potential Debate Creative"
    />
    {% endblock %}
    
    {% block title %} 
    <title>Cautious Optimism for Sports Betting in 2023</title>
    {% endblock %}
    
  {% block content %} 
  <body>

  <main id="main">
  
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/#">Blog</a></li>
        </ol>
        <h2>Let MO Play Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry entry-single">
              <h2 class="entry-title">
                <a href="#">Cautious Optimism for Sports Betting in 2023</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="mailto: contacts@letmoplay.com">Brett K.</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#blog"><time datetime="2023-04-15">April, 15th 2023</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>As the debate over sports betting legalization continues to make headlines in Missouri, a cautiously optimistic outlook emerges for the future of the industry. Despite setbacks and political discord, recent developments suggest that the Show-Me State could still see progress on the issue in 2023. The road ahead is not without challenges, but key players appear to be working towards finding common ground. In a recent conversation with State Representative Dan Houx's office, we delved into the current state of affairs and the potential for sports betting legalization in the coming year.</p>
                <p>Over the past few years, the Missouri Senate has grappled with the contentious issue of sports betting legalization. While attempts to pass legislation have been thwarted by disagreements surrounding Video Lottery Terminal (VLT) legislation and funding for veterans, recent conversations suggest that there may be a way forward without the inclusion of VLT language.</p>
                <p>In an email exchange with State Representative Dan Houx's office, we learned that Houx has been in talks with Senator Denny Hoskins, a key figure in the sports betting debate. Despite some concerns, Houx's office expressed optimism that a path forward for sports betting legislation this year is possible. While the removal of VLT language from the bill might not satisfy all parties, it could open the door for further negotiations and, ultimately, the passage of a sports betting bill.</p>
                <blockquote>
                    <p>
                      "Both the Senator and Representative feel very strongly about Veteran issues but unfortunately, given the current gaming structure the majority of the funding is committed to education so finding structures which do not go awry of the Constitutional constraints has been a challenge to direct some portion of the funding to Veteran issues."
                    </p>
                  </blockquote>
                <p>The cautious optimism expressed by Houx's office opens the door just slightly to those eager to see sports betting legalized in Missouri. However, while the removal of VLT language from the bill might be seen as a step in the right direction, the challenge of securing funding for veterans remains. Lawmakers will need to find alternative sources of revenue or propose new solutions to ensure that veterans are not left behind in the push for sports betting legalization. On the issue, Houx’s office reiterated that, due to the way the Missouri Constitution is written, those funds are allocated to education. And, since that is the case, finding ways to fund veterans initiatives that don’t “go awry fo the Constitutional constraints has been a challenge…”. </p>
                <p>The landscape of sports betting legalization in Missouri is complex and ever-changing, but, as lawmakers work to find common ground and develop legislation that can win the support of both the Senate and the people of Missouri, at least some in the state legislature are offering a glimmer of hope for those eager to see progress on the issue in 2023.</p>
                <p><i>Want to know how you can help? Subscribe to our newsletter (below), so you never miss a beat!</i></p>
              </div>
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->
    
  </main><!-- End #main -->
      
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
