
{% extends "shared/base.html" %}
{% block header %}
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="2023-04-18"/>
<meta property="article:author" content="Brett Koenig"/>
<meta property="article:section" content="April Sports Betting Blogs"/>
<meta property="article:tag" content="Sports Betting Filibuster Missouri"/>
<meta 
  property="og:image" 
  content="{{ url_for('static', path='img/Filibusters-and-Stalled-Progress-of-Sports-Betting-in-Missouri.jpg') }}"
  alt="Potential Debate Creative"
/>
<meta 
  property="og:url" 
  content="https://letmoplay.com/blogs/2023/April/Filibusters-and-Stalled-Progress-of-Sports-Betting-in-Missouri"
/>
<meta 
  content="Viewed an important legislative tactic by some, the filibuster is drawing critics in the state Capitol." 
  name="description"
/>
<meta 
  property="og:description" 
  content="Viewed an important legislative tactic by some, the filibuster is drawing critics in the state Capitol."
/>
<meta 
  property="og:title" 
  content="Filibusters and the Stalled Progress of Sports Betting in Missouri"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://letmoplay.com/blogs/2023/April/Filibusters-and-Stalled-Progress-of-Sports-Betting-in-Missouri"
/>
<meta 
  property="twitter:title" 
  content="Filibusters and the Stalled Progress of Sports Betting in Missouri"
/>
<meta 
  property="twitter:description" 
  content="Viewed an important legislative tactic by some, the filibuster is drawing critics in the state Capitol."
/>
<meta 
  name="twitter:site" 
  content="https://letmoplay.com/"
/>
<meta 
  property="twitter:image" 
  content="{{ url_for('static', path='img/Filibusters-and-Stalled-Progress-of-Sports-Betting-in-Missouri.jpg') }}"
  alt="Potential Debate Creative"
/>
{% endblock %}

{% block title %} 
<title>Filibusters and the Stalled Progress of Sports Betting in Missouri</title>
{% endblock %}

{% block content %} 
<body>

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
    </ol>
    <h2>Let MO Play Blog</h2>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry entry-single">
          <h2 class="entry-title">
            <a href="#">Filibusters and the Stalled Progress of Sports Betting in Missouri</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="mailto: letmoplay@letmoplay.com">Brett K.</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#blog"><time datetime="2023-04-18">April, 18th 2023</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            <h3>Introduction:</h3>

            <p>The concept of filibuster, although sometimes seen as an essential part of the legislative process, has recently become a significant roadblock to progress in Missouri, particularly concerning sports betting legislation. In this blog post, we'll first provide an overview of what a filibuster is, then explore the rules surrounding filibusters in the Missouri Senate. Finally, we'll discuss how filibusters have impacted sports betting legislation in Missouri and the criticisms surrounding this controversial tactic.</p>
            
            <h3>What is a Filibuster?</h3>
            
            <p>A filibuster is a parliamentary maneuver utilized by a legislator to <a href="https://letmoplay.com/blogs/2023/April/Missouri-Senate-Hearing-on-Sports-Betting-Descends-into-Chaos" target="_blank" rel="noopener">stall or derail the passage of legislation.</a> By prolonging debate, submitting endless amendments, or employing other tactics, a filibuster aims to either force a compromise or prevent the legislation from passing altogether. Although filibusters have a long history in the United States Senate, they can also be found in many state legislatures, including Missouri's.</p>
            
            <h3>Missouri Senate Filibuster Rules:</h3>
            
            <p>Filibusters in the Missouri Senate involve a senator speaking for an extended period, effectively blocking the Senate from advancing its legislative agenda. There is no specific time limit on a filibuster in the Missouri Senate, enabling senators to speak indefinitely and potentially causing significant delays in the legislative process.</p>
            <p>During a filibuster, the senator holding the floor can yield to questions from other senators but must not relinquish the floor entirely. If the senator yields the floor, the filibuster ends, and the Senate can resume its business. Senators participating in a filibuster may also introduce numerous amendments or procedural motions to further prolong the debate.</p>

            <blockquote>
                <p>
                  "Both the Senator and Representative feel very strongly about Veteran issues but unfortunately, given the current gaming structure the majority of the funding is committed to education so finding structures which do not go awry of the Constitutional constraints has been a challenge to direct some portion of the funding to Veteran issues."
                </p>
              </blockquote>

            <h3>Filibusters and Sports Betting Legislation in Missouri:</h3>
            
            <p>The progress of sports betting legislation in Missouri has been notably hindered by filibusters in the Senate. A key point of contention revolves around the inclusion of Video Lottery Terminal (VLT) language in the proposed legislation. The use of filibusters by opponents of the bill has stalled the legislative process, preventing the passage of a sports betting bill and impacting potential revenue for the state.</p>
            <p>Critics argue that the use of filibusters in this situation obstructs the democratic process and prevents the passage of legislation that could benefit Missouri's economy and its citizens. Moreover, the stalemate caused by filibustering has left stakeholders in the sports betting industry, including casinos, sports teams, and potential bettors, in a state of uncertainty.</p>
            
            <h3>The Criticisms of Filibustering and Its Impact on Sports Betting:</h3>
            
            <p>While filibustering can serve as a tool for extended debate and force compromise, its use in the context of sports betting legislation in Missouri has garnered criticism for delaying crucial decision-making. The inability to pass sports betting legislation due to filibustering has prevented the state from tapping into a <a href="https://www.forbes.com/sites/willyakowicz/2023/01/13/us-set-gambling-record-in-2022-with-more-than-549-billion-in-revenue/?sh=73fb0c67cc9e" target="_blank" rel="noopener"> potentially lucrative market</a>, with revenues that could be directed toward various initiatives, such as education.</p>
            <p>In this case, the filibuster's negative consequences are apparent, as the obstruction and delay in passing sports betting legislation prevent Missouri from realizing potential economic benefits and addressing the state's pressing needs.</p>
            
            <h3>Breaking a Filibuster and the Future of Sports <a href="https://letmoplay.com">Betting in Missouri:</a></h3>
            
            <p>To break a filibuster and move forward with sports betting legislation, the Missouri Senate can invoke the <a href="https://www.senate.mo.gov/rules/" target="_blank" rel="noopener">"previous question" procedure</a>. However, invoking this motion is often viewed as controversial and may be perceived as silencing the minority party. Despite this, the urgency of passing sports betting legislation could prompt lawmakers to use this procedure to end the filibuster and facilitate the legislative process.</p>
            
            <h3>Conclusion:</h3>
            
            <p>Filibustering, while potentially serving as a tool for extended debate and compromise, has become a significant obstacle to the progress of sports betting legislation in Missouri. Understanding the impact of filibusters on this issue is essential for lawmakers and constituents alike. As we navigate the complexities of state legislation, it is crucial to weigh the potential benefits of filibustering against its potential to hinder progress and stifle the democratic process in the context of sports betting and other legislative matters.
            <p>
              <i>
                Want to know how you can help? Subscribe to our newsletter (below), 
                so you never miss a beat!
              </i>
            </p>
          </div>
        </article><!-- End blog entry -->
      </div>
    </div>
  </div>
</section><!-- End Blog Single Section -->

</main><!-- End #main -->
  
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
