{% extends "shared/base.html" %}
  {% block header %}
    <meta 
      property="og:image" 
      content="{{ url_for('static', path='img/mo-senate-descends-into-chaos.jpg') }}"
      alt="Potential Debate Creative"
    />
    <meta 
      content="Obstructionist Senator derailed the bid, not unlike in years past." 
      name="description"
    />
    <meta 
      property="og:description" 
      content="Obstructionist Senator derailed the bid, not unlike in years past."
    />
    <meta 
      property="og:title" 
      content="Missouri Senate Hearing on Sports Betting Descends into Chaos"
    />
    <meta 
      name="twitter:card" 
      content="summary_large_image"
    />
    <meta 
      property="twitter:url" 
      content="https://letmoplay.com/blogs/2023/April/Missouri-Senate-Hearing-on-Sports-Betting-Descends-into-Chaos"
    />
    <meta 
      property="twitter:title" 
      content="Missouri Senate Hearing on Sports Betting Descends into Chaos"
    />
    <meta 
      property="twitter:description" 
      content="Obstructionist Senator derailed the bid, not unlike in years past."
    />
    <meta 
      name="twitter:site" 
      content="@LetMOPlay"
    />
    <meta 
      property="twitter:image" 
      content="{{ url_for('static', path='img/mo-senate-descends-into-chaos.jpg') }}"
    />
    <meta 
      name="twitter:widgets:autoload"
      content="off"
    />
    <link 
      rel="canonical" 
      href="/blogs/2023/April/Missouri-Senate-Hearing-on-Sports-Betting-Descends-into-Chaos"
    />
  {% endblock %}
  
  {% block title %} 
  <title>Missouri Senate Hearing on Sports Betting Descends into Chaos</title>
  {% endblock %}
  
{% block content %} 
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
      </ol>
      <h2>Let MO Play Blog</h2>

    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= Blog Single Section ======= -->
  <div class="container-fluid">
    <div class="row text-start mx-auto">
    
      <section id="blog" class="blog col-12 col-lg-8 col-xl-7 ps-lg-5 pe-lg-5">
        <div class="container" data-aos="fade-up">
          <div class="row text-start g-5">
            <div class="col-12 col-md-12 col-xl-12 g-5 entries">
              <article class="entry entry-single">
                <h2 class="entry-title">
                  <a href="#">Missouri Senate Hearing on Sports Betting Descends into Chaos</a>
                </h2>
                <div class="entry-meta">
                  <ul>
                    <div class="row g-3">
                      <div class="col-auto">
                        <li class="d-flex align-items-center">
                          <i class="bi bi-person"></i> 
                          <a href="mailto: contacts@letmoplay.com">
                            Brett K.
                          </a>
                        </li>       
                      </div>
                      <div class="col-auto">
                        <li class="d-flex align-items-center">
                          <i class="bi bi-clock"></i>
                          <a href="#blog">
                            <time datetime="2023-04-10">
                              April, 10th 2023
                            </time>
                          </a>
                        </li>
                      </div>
                      <div class="col-auto d-none d-md-flex">
                        <li class="d-flex align-items-center ">
                          <div id="twitter-follow"></div>
                        </li>
                      </div>
                      <div class="col-auto">
                        <li class="d-flex align-items-center">
                          <div id="twitter-share"></div>
                        </li>
                      </div>
                    </div>
                    <script src="https://platform.twitter.com/widgets.js"></script>
                    <script>
                      twttr.ready(function (twttr) {
                        twttr.widgets.createFollowButton(
                            "LetMOPlay",
                            document.getElementById("twitter-follow"),
                            {
                              showScreenName: "false"
                            }
                        ).then(function (el) {
                            console.log("Follow button added.");
                        });
                        twttr.widgets.createShareButton(
                            "https:\/\/letmoplay.com\/blogs\/2023\/April\/Missouri-Senate-Hearing-on-Sports-Betting-Descends-into-Chaos",
                            document.getElementById("twitter-share"),
                            {
                                text: "Senate Chaos looks like it is here to stay.",
                                hashtags: "moleg,letmoplay",
                            }
                        ).then(function (el) {
                            console.log("Share button added.");
                        });
                      });
                    </script>
                  </ul>
                </div>
    
                <div class="entry-content">
                  <p>In the grand, unpredictable theater of Missouri politics, it's rare to find a plot twist that surprises anyone anymore. However, last week's Senate hearing on the legalization of sports betting in the Show-Me State managed to do just that, putting on display the inability of lawmakers to come to a compromise that would benefit both the state and its residents.</p>
                  <p>The stage was set for a decisive victory in the campaign for sports betting legalization. An eclectic mix of supporters, including sports fans, industry insiders, and passionate advocates, had united under a common cause: to bring sports betting out of the shadows and into the legal, regulated light.</p>
                  <h3>Senate Bill 30 Takes Center Stage</h3>
                  <p>SB30, sponsored by Senator Tony Luetkemeyer, was the focal point of the hearing. As the hearing commenced, Luetkemeyer introduced the bill, outlining its provisions and emphasizing the potential for economic growth, increased tax revenue, and the creation of new job opportunities that sports betting could bring to Missouri. The evidence was clear, and the arguments were compelling. But, as it turns out, reason and evidence hold little sway in the hallowed halls of the Missouri Senate.</p>
                  <p>Instead of embracing the opportunity to legalize and regulate sports betting, Senators Denny Hoskins and Karla May chose to squabble over petty issues, beginning a filibuster that derailed the discussion. Instead of uniting to find a solution that would benefit the state, they spent hours locked in a fruitless debate over the minutiae of proposed regulations.</p>
                  <p>As the filibuster continued, Senator Bill Eigel joined in the obstruction, choosing to read the first three chapters of "The Role of a Lifetime," a Ronald Reagan biography, in an attempt to prolong the stalemate. This surreal spectacle highlighted the absurdity of the situation and the lengths to which some lawmakers would go to obstruct progress.</p>
                  <h3>Quid Pro Quo Politics on Display</h3>
                  <p>During the course of the hearing, Senator Karla May admitted that she supported sports betting legalization but wouldn't vote for it unless her bill legalizing video lottery terminals (VLTs) was passed first. This blatant display of quid pro quo politics exposed a concerning lack of principle and dedication to the people of Missouri.</p>
                  <blockquote>
                    <p>
                      "Are you going to pull this, or am I going to talk for 3 hours???"
                    </p>
                  </blockquote>
                  <p>The tragicomic farce reached its crescendo when Senator Denny Hoskins, believing he was out of range of the microphone, said to Luetkemeyer, "Are you going to pull this or am I going to talk for three hours?" The ill-timed remark served as a stark reminder of the pettiness and gamesmanship that too often define Missouri politics.</p>
                  <p>These events, while almost comical in nature, have serious consequences for the state of Missouri. The longer the legalization of sports betting is delayed, the more tax revenue and economic opportunities slip through its fingers. Every neighboring state aside from Oklahoma has already embraced the future and reaped the benefits of a regulated sports betting market. It's time for Missouri to follow suit.</p>
                  <p>Passionate advocates, along with countless other supporters of sports betting legalization, have worked tirelessly to raise awareness and rally support. They've put in the time, effort, and passion to bring about change, but they can only do so much. Ultimately, it's up to Missouri's lawmakers to put aside their petty differences and find a way to make this happen.</p>
                  <p>Last week's Senate hearing was a disappointment, but it's not the end of the story. There's still time for Missouri's elected officials to come to their senses, to recognize the potential for growth and prosperity that legal sports betting can bring to the state. But until they do, the Show-Me State will remain a frustrating example of what happens when politics gets in the way of progress.</p>
                </div>
              </article><!-- End blog entry -->
            </div>
          </div>
        </div>
      </section><!-- End Blog Single Section -->  
      
      <div class="col-12 col-lg-2 col-xl-4 text-start pt-md-5 mt-3 pe-lg-5 pe-md-5 pb-5 pt-sm-2"> 
        <div id="twitter-timeline"></div>      
        <script>
          twttr.widgets.createTimeline(
            {
              sourceType: "profile",
              screenName: "LetMOPLay",
            },
            document.getElementById("twitter-timeline"),
            {
              
              chrome: "nofooter",
              tweetLimit: 5,
              showReplies: "false",
            }
          );
        </script>
      </div>
    </div>
  </div>
</main><!-- End #main -->
    
  {% endblock %}
  
  {% block footer %}
  {% endblock %}
  
  {% block scripts %}
  {% endblock %}
  