<!DOCTYPE html>
<html>
  {% extends "shared/base.html" %}
    {% block header %}
    <meta 
      property="og:image" 
      content="{{ url_for('static', path='img/lmp_round_logo.png') }}"
      alt="Let MO Play round logo"
    />
    <meta 
      property="og:description" 
      content="Yesterday's Missouri Senate hearing, which lasted a grueling 8 hours, was marked by a mix of filibustering and nonsensical amendments aimed at delaying the legislative process "
    />
    <meta 
      property="og:title" 
      content="Let MO Play - Missouri Senate Hearing on Sports Betting Descends into Chaos"
    />
    <meta 
      name="twitter:card" 
      content="Yesterday's Missouri Senate hearing, which lasted a grueling 8 hours, was marked by a mix of filibustering and nonsensical amendments aimed at delaying the legislative process "
    />
    <meta 
      property="twitter:url" 
      content="https://letmoplay.com/blogs/2023/April/MO-Senate-Decscends-Into-Chaos"
    />
    <meta 
      property="twitter:title" 
      content="Missouri Senate Hearing on Sports Betting Descends into Chaos"
    />
    <meta 
      property="twitter:description" 
      content="Yesterday's Missouri Senate hearing, which lasted a grueling 8 hours, was marked by a mix of filibustering and nonsensical amendments aimed at delaying the legislative process "
    />
    <meta 
      property="twitter:image" 
      content="{{ request.url_for('static', path='img/lmp_round_logo.png') }}"
      alt="Let MO Play round logo"
    />
    {% endblock %}
    
    {% block title %} 
    <title>Let MO Play - Missouri Senate Hearing on Sports Betting Descends into Chaos</title>
    {% endblock %}
    
  {% block content %} 
  <body>

  <main id="main">
  
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/#">Blog</a></li>
        </ol>
        <h2>Let MO Play Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry entry-single">
              <h2 class="entry-title">
                <a href="#">Missouri Senate Hearing on Sports Betting Descends into Chaos</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="mailto: contacts@letmoplay.com">Brett K.</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#blog"><time datetime="2023-04-06">April, 6th 2023</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Yesterday's Missouri Senate hearing, which lasted a grueling 8 hours, was marked by a mix of filibustering and nonsensical amendments aimed at delaying the legislative process (adding a single quotation mark to a bill is a go-to for those looking to delay the proceedings).
                </p>
                <p>
                  It had the usual back-and-forth about gambling addiction and tax rates. It had the somehow-still-surprising pauses and shuffling of papers as our elected officials search the 20th century for the answers to questions about their own bill. It even had the first three chapters of Lou Cannon's "Ronald Reagan: The Role Of A Lifetime". What it did not have, was much in the way of progress.
                </p>

                <blockquote>
                  <p>
                    "...stalling tactics employed by some Senators made it impossible for the legislature to move forward on the issue."
                  </p>
                </blockquote>

                <p>
                  One of the key moments of the hearing was an attempt by those filibustering the bill to include an amendment regulating Video Lottery Terminals, which are essentially electronic gambling machines often found at convenience stores, bars and fraternal organizations. It is also the issue that has proven to be the biggest stumbling block in years past. The amendment failed, and it highlights the challenges facing those trying to push through sports betting legislation.
                </p>                
                <h3>What's Next</h3>
                <p>
                  Unfortunately, the stalling tactics employed by some Senators made it impossible for the legislature to move forward on the issue, and the hearing was a frustrating setback for those who support the legalization of sports betting in Missouri. It remains to be seen what steps lawmakers will (can?) take next to move the process forward, but it's clear that more work needs to be done to ensure that sports betting can become a legal and regulated activity in the state.              
                </p>
                
                <p>
                  It will be difficult to find a silver lining in todays proceedings, but all hope isn't lost. 
                  <a href="https://georgiarecorder.com/2023/03/19/online-sports-betting-back-on-the-table-as-georgia-lawmakers-hijack-soapbox-derby-bill/">
                    A creative legislator in Georgia managed to turn a Soap-Box Derby Bill into an attempt to revive sports betting recently,
                  </a> 
                so they've got that up their sleeves. Fortunately, the House Bill (HB556) is still on the schedule somewhere and they haven't dismantled that bill. Or, at least, not yet.
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->
    
  </main><!-- End #main -->
      
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
    

</html>