
<html>
  {% extends "shared/base.html" %}
    {% block header %}
    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="2023-04-05"/>
    <meta property="article:author" content="Brett Koenig"/>
    <meta property="article:section" content="April Sports Betting Blogs"/>
    <meta property="article:tag" content="Sports Betting Debate Missouri"/>
    <meta 
      property="og:image" 
      content="{{ url_for('static', path='img/Potential-Debate-This-Week.jpg') }}"
      alt="Potential Debate Creative"
    />
    <meta 
      content="Missouri Senate Leader Caleb Rowden is sounding more optimistic on sports betting." 
      name="description"
    />
    <meta 
      property="og:description" 
      content="Missouri Senate Leader Caleb Rowden is sounding more optimistic on sports betting."
    />
    <meta 
      property="og:title" 
      content="Let MO Play - Potential Debate This Week"
    />
    <meta 
      name="twitter:card" 
      content="summary_large_image"
    />
    <meta 
      property="twitter:url" 
      content="https://letmoplay.com/blogs/2023/April/Potential-Debate-This-Week"
    />
    <meta 
      property="twitter:title" 
      content="Let MO Play - Potential Debate This Week"
    />
    <meta 
      property="twitter:description" 
      content="Missouri Senate Leader Caleb Rowden is sounding more optimistic on sports betting"
    />
    <meta 
      property="twitter:image" 
      content="{{ url_for('static', path='img/Potential-Debate-This-Week.jpg') }}"
      alt="Potential Debate Creative"
    />
    {% endblock %}
    
    {% block title %} 
    <title>Let MO Play - Potential Debate This Week</title>
    {% endblock %}
    
  {% block content %} 
  <body>

  <main id="main">
  
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/blogs">Blogs</a></li>
        </ol>
        <h2>Let MO Play Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry entry-single">
              <h2 class="entry-title">
                <a href="#">Senate Leader Hints at Sports Betting Debate This Week</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="mailto: team@letmoplay.com">Brett K.</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#blog"><time datetime="2023-04-05">April, 5th 2023</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Missouri sports fans may have something to celebrate soon as a recent tweet from Senate President Pro Tem Caleb Rowden-R suggests that the state's lawmakers may be closer than ever to legalizing sports betting. 
                  On Monday, Rowden tweeted, "Wouldn't it be fitting if we passed a sports betting bill off the Senate floor during one of the most fantastic sports weeks of the year? LET'S GO! #MOLeg".
                </p>
                <p>
                  The tweet was met with excitement from many Missouri residents who have been eagerly awaiting the legalization of sports betting in the state. 
                  Rowden has become an important, if, at times, timid, supporter of legalizing <a href="https://letmoplay.com">sports betting in Missouri</a>, and his tweet is seen as a promising sign that lawmakers may finally be ready to take action on the issue.
                </p>

                <blockquote>
                  <p>
                    "Wouldn't it be fitting if we passed a sports betting bill off the Senate floor during one of the most fantastic sports weeks of the year? LET'S GO! #MOLeg"
                  </p>
                </blockquote>

                <p>
                  Currently, 33 states and the District of Columbia (and counting) have legalized sports betting in some form, and Missouri has been considering joining their ranks for several years. 
                  If sports betting is legalized in Missouri, it could generate significant tax revenue for the state. According to some estimates, legalizing sports betting could generate upwards of $20-30 million in annual tax revenue for Missouri. 
                  Based on the verbiage of the bill(s) currently in the State Senate, those tax dollars would go toward public education.
                </p>                
                <h3>Hurdles to Come</h3>
                <p>
                  Of course, there are still hurdles to overcome before sports betting is legalized in Missouri. 
                  The state's lawmakers will need to navigate the tricky subject of Video Lottery Terminals (VLTs) that has been hotly debated the past two years. 
                  VLTs are often referred to as “grey market” machines, comparable to a slot machine, that you’ll often see at smaller establishments throughout the state. 
                  Senator Denny Hoskins-R, et al., filibustered a vote on sports betting in 2022 and he remains a staunch advocate for VLTs, citing the additional tax revenue they would generate for the state, particularly it’s veterans. 
                  No compromise has seemed close.               
                </p>
                
                <p>
                  However, Rowden's tweet is a positive sign that the Senate may be able to come to an agreement.
                  Missouri residents who are passionate about sports betting are encouraged to contact their local representatives to voice their support for legalizing sports betting in the state. 
                  With the Master's almost underway and sports fans across Missouri excited about the possibility of legalized sports betting, now may be the perfect time for lawmakers to take action on this important issue.  
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->
    
  </main><!-- End #main -->
      
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
    

</html>
