
{% extends "shared/base.html" %}
{% block header %}
<meta 
  property="og:image" 
  content="{{ url_for('static', path='img/Senator-Hoskins-Swims-Against-the-Tide.jpg') }}"
  alt="Potential Debate Creative"
/>
<meta 
  content="Senator Denny Hoskins faces a crucial decision as he continues to oppose sports betting legalization in Missouri. With the NFL draft approaching and a passionate Kansas City Chiefs fan base watching, Hoskins must weigh the political consequences and consider embracing change." 
  name="description"
/>
<meta 
    name="keywords" 
    content="denny hoskins, denny hoskins sports betting, hoskins sports betting, hoskins vlts, hoskins vlt, hoskins missouri, missouri vlt, missouri video lottery, missouri senator sports betting, missouri senator blocks sports betting"
/>
<meta 
  property="og:description" 
  content="Senator Denny Hoskins faces a crucial decision as he continues to oppose sports betting legalization in Missouri. With the NFL draft approaching and a passionate Kansas City Chiefs fan base watching, Hoskins must weigh the political consequences and consider embracing change."
/>
<meta 
  property="og:title" 
  content="Senator Hoskins Swims Against the Tide: Chiefs Fans Deserves Better"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://letmoplay.com/blogs/2023/April/Senator-Hoskins-Swims-Against-the-Tide"
/>
<meta 
  property="twitter:title" 
  content="Senator Hoskins Swims Against the Tide: Chiefs Fans Deserves Better"
/>
<meta 
  property="twitter:description" 
  content="Senator Denny Hoskins faces a crucial decision as he continues to oppose sports betting legalization in Missouri. With the NFL draft approaching and a passionate Kansas City Chiefs fan base watching, Hoskins must weigh the political consequences and consider embracing change."
/>
<meta 
  name="twitter:site" 
  content="https://letmoplay.com/"
/>
<meta 
  property="twitter:image" 
  content="{{ url_for('static', path='img/Senator-Hoskins-Swims-Against-the-Tide.jpg') }}"
  alt="Potential Debate Creative"
/>
{% endblock %}

{% block title %} 
<title>Senator Hoskins Swims Against the Tide: Chiefs Fans Deserves Better</title>
{% endblock %}

{% block content %} 
<body>

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
    </ol>
    <h2>Let MO Play Blog</h2>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry entry-single">
          <h2 class="entry-title">
            <a href="#">Senator Hoskins Swims Against the Tide: Chiefs Fans Deserves Better</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="mailto: letmoplay@letmoplay.com">Brett K.</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#blog"><time datetime="2023-04-18">April, 22nd 2023</time></a></li>
            </ul>
          </div>

          <div class="entry-content">
            
            <h3>Chiefs Kingdom and the NFL Draft</h3>

            <p>As the NFL draft draws near, the excitement in the air is palpable. The Kansas City Chiefs, one of the most popular teams in the nation, boasts a dedicated and enthusiastic fan base. Their unwavering support is legendary - Guinness World Record breaking even (for the loudest stadium, Arrowhead, reaching a deafening 142.2 decibels). We’re talking about a supreme level of devotion.</p>
            <p>But, amidst the frenzy of the upcoming draft, there's a lingering frustration. And it has everything to do with Senator Denny Hoskins, and <a href="https://www.stltoday.com/news/local/govt-and-politics/is-the-sun-setting-on-sports-gaming-in-missouri-again-house-leaders-say-yes/article_79b04268-dfa2-11ed-8a22-6f1cbe53ea1e.html" target="_blank" rel="noopener">his stubborn opposition to sports betting legalization in Missouri</a>. Hoskins seems determined to play the role of the villain, ignoring the wishes of his constituents, many of whom bleed red and gold.</p>
            <p>The Kansas City Chiefs' fan base is a force to be reckoned with, and they deserve better than a senator who appears to be swimming against the tide of progress. These are the people who've spent years, decades, lifetimes cheering on their team, and they're the same people who could very well decide Hoskins's political future. There are even rumors of buses being organized to ship NFL Draft attendees to Kansas and back, so they can legally place their bets next week. We haven’t seen any official reports on that but, if true… what a time to be alive.</p>
            
            <blockquote>
              <p>
                "Hoskins seems set on diverting the flow of public sentiment"
              </p>
            </blockquote>
            
            <h3>A Political Gamble</h3>
            
            <p>Hoskins's resistance to sports betting legalization seems largely driven by his <a href="https://themissouritimes.com/dewitt-shares-thoughts-on-sports-betting-legislation/" target="_blank" rel="noopener">desire to see video lottery terminals (VLTs) pass in Missouri, rather than any moral or ethical qualms about sports betting itself</a>. Unfortunately for him, this approach is leaving him increasingly isolated as the nation moves towards embracing sports betting. By continuing to block sports betting legalization, Senator Hoskins is alienating a passionate and influential portion of his constituency. Swimming against the tide is one thing, but <a href="https://letmoplay.com/blogs/2023/April/Missouri-Senate-Hearing-on-Sports-Betting-Descends-into-Chaos" target="_blank" rel="noopener">Hoskins seems set on diverting the flow of public sentiment</a> - and he may not like the outcome.</p>
            <p>Hoskins will defend his obstruction of sports betting, often citing a lack of funding for Veterans (among other things) - a point anyone would be remiss to disagree with. No state legislator (to our knowledge) has ever expressed that the Veteran’s home in Warrensburg (or any other city or town, for that matter) shouldn’t receive funding if they need it.  But the state constitution determines where these funds go and, as much as he’d like to tell us otherwise, sports betting and VLTs are just different issues.</p>
            <p>Frankly, it's time for Hoskins to get with the times. Embracing sports betting legalization could be the game-changing play he needs to turn his political fortunes around. He has the opportunity to transform himself from villain to hero in the eyes of the Chiefs' faithful, but the clock is ticking - there are only a few weeks remaining in the legislative session.</p>
            <p>So, as we gear up for the NFL draft and the Kansas City Chiefs' fans eagerly anticipate their team's next moves, perhaps Senator Hoskins should consider his own next move carefully. The future of his political career may very well depend on it. And who knows? A change of heart might just earn him a seat at the Chiefs' Kingdom's table.</p>
            <p>Now, wouldn't that be a sweet victory?</p>
            
            <p>
              <i>
                Want to know how you can help? Subscribe to our newsletter (below), 
                so you never miss a beat!
              </i>
            </p>
          </div>
        </article><!-- End blog entry -->
      </div>
    </div>
  </div>
</section><!-- End Blog Single Section -->

</main><!-- End #main -->
  
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
