
{% extends "shared/base.html" %}
{% block header %}
<meta 
  property="og:image" 
  content="{{ url_for('static', path='img/Missouri-Political-Theatrics-Self-Over-Service.jpg') }}"
  alt="Politcal theatre creative with the title in red text and the description in small blue text. The border is a thick blue and at the bottom has a colored skyline of Kansas City on the left and Saint Louis on the right."
/>
<meta 
  content="Explore the disturbing trend of self-interest and political posturing among certain Missouri Senators, as they prioritize personal agendas over not only sports betting, but the needs of all Missourians." 
  name="description"
/>
<meta 
  property="og:description" 
  content="Explore the disturbing trend of self-interest and political posturing among certain Missouri Senators, as they prioritize personal agendas over not only sports betting, but the needs of all Missourians."
/>
<meta 
  property="og:title" 
  content="Missouri's Political Theatrics: Prioritizing Self over Service"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://letmoplay.com/blogs/2023/May/Missouri-Political-Theatrics-Self-Over-Service"
/>
<meta 
  name="twitter:title" 
  content="Missouri's Political Theatrics: Prioritizing Self over Service"
/>
<meta 
  name="twitter:description" 
  content="Explore the disturbing trend of self-interest and political posturing among certain Missouri Senators, as they prioritize personal agendas over not only sports betting, but the needs of all Missourians."
/>
<meta 
  name="twitter:site" 
  content="@LetMOPlay"
/>
<meta 
  property="twitter:image" 
  content="{{ url_for('static', path='img/Missouri-Political-Theatrics-Self-Over-Service.jpg') }}"
/>
<meta 
  property="twitter:image:alt"
  content="Politcal theatre creative with the title in red text and the description in small blue text. The border is a thick blue and at the bottom has a colored skyline of Kansas City on the left and Saint Louis on the right." 
<meta 
  name="twitter:widgets:autoload"
  content="off"
/>
<link 
  rel="canonical" 
  href="https://letmoplay.com/blogs/2023/May/Missouri-Political-Theatrics-Self-Over-Service"
/>
{% endblock %}

{% block title %} 
<title>Missouri's Political Theatrics: Prioritizing Self over Service</title>
{% endblock %}

{% block content %} 
<body>

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
    </ol>
    <h2>Let MO Play Blog</h2>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<div class="container-fluid">
  <div class="row text-start mx-auto">
    <section id="blog" class="blog col-12 col-lg-8 col-xl-7 ps-lg-5 pe-lg-5">
      <div class="container" data-aos="fade-up">
        <div class="row text-start g-5">
          <div class="col-12 col-md-12 col-xl-12 g-5 entries">
            <article class="entry entry-single">
              <h2 class="entry-title">
                <a href="#">Missouri's Political Theatrics: Prioritizing Self over Service</a>
              </h2>
    
              <<div class="entry-meta">
                <ul>
                  <div class="row g-3">
                    <div class="col-auto">
                      <li class="d-flex align-items-center">
                        <i class="bi bi-person"></i> 
                        <a href="mailto: contacts@letmoplay.com">
                          Brett K.
                        </a>
                      </li>       
                    </div>
                    <div class="col-auto">
                      <li class="d-flex align-items-center">
                        <i class="bi bi-clock"></i>
                        <a href="#blog">
                          <time datetime="2023-05-16">
                            May 16th, 2023
                          </time>
                        </a>
                      </li>
                    </div>
                    <div class="col-auto d-none d-md-flex">
                      <li class="d-flex align-items-center ">
                        <div id="twitter-follow"></div>
                      </li>
                    </div>
                    <div class="col-auto">
                      <li class="d-flex align-items-center">
                        <div id="twitter-share"></div>
                      </li>
                    </div>
                  </div>
                  <script src="https://platform.twitter.com/widgets.js"></script>
                  <script>
                    twttr.ready(function (twttr) {
                      twttr.widgets.createFollowButton(
                          "LetMOPlay",
                          document.getElementById("twitter-follow"),
                          {
                            showScreenName: "false"
                          }
                      ).then(function (el) {
                          console.log("Follow button added.");
                      });
                      twttr.widgets.createShareButton(
                          "https:\/\/letmoplay.com\/blogs\/2023\/May\/Missouri-Political-Theatrics-Self-Over-Service",
                          document.getElementById("twitter-share"),
                          {
                              text: "Theatrics in politics puts the needs of those in power above Missouri constituents.",
                              hashtags: "moleg,letmoplay",
                          }
                      ).then(function (el) {
                          console.log("Share button added.");
                      });
                    });
                  </script>
                </ul>
              </div>
    
              <div class="entry-content">
                
                
    
                <p>Venture to any youth baseball diamond and eventually, you'll witness it. A parent or coach, occasionally the same individual, being ejected from a game. These aren't privileges reserved for Major League Baseball managers; no, anyone can be thrown out if they're determined enough.</p>
    
                <p>Ordinarily, such an incident is a source of embarrassment. It's an instant regret, a realization that they've diverted attention away from the children and onto themselves. They then retreat, disheartened, to the family sedan, reassured by the prospect of watching the rest of the tournament in air-conditioned comfort. Yet, for a select few, there's no regret, no embarrassment. For them, this is their moment in the spotlight. Cue the Missouri Senate.</p>
    
                <h3>The Senate Derailed Again...</h3>
    
                <p>The Missouri Legislature should be a forum for serious, empathetic deliberation of pressing issues, grounded in respect for the rule of law. However, recent dysfunction, particularly regarding the Senate and Sports Betting legalization, disturbingly mirrors the actions of our ill-behaved baseball parent.</p>
    
                <p>Sports betting, an industry experiencing nationwide growth and acceptance, has become a contentious issue in the Missouri Senate. The potential for increased state revenue, job creation, and consumer protection presents a compelling argument for its legalization. However, the Senate, eager for the limelight, appears more engrossed in their political interests than the welfare of their constituents.</p>
    
                <p>This self-serving attitude was manifested early in the session when Senator Denny Hoskins proclaimed that he would "be an obstructionist until I get my way" regarding sports betting. Such declarations are not characteristic of a public servant devoted to their constituents' best interests, but rather of one whose primary concern is self-advancement.</p>
    
                <p>True to form, in early April, Senators Hoskins and Bill Eigel initiated a filibuster that derailed the debate and, consequently, the vote on a sports betting bill. Senator Karla May also participated in the first filibuster, but was noticeably absent from the most recent one.</p>
    
                <p>Fast forward to two weeks ago, a bill sponsored by Hoskins (the contents of which had to do with tax credits, not sports betting), was amended in the Missouri House of Representatives to include sports betting and sent back to the Senate. This is an unsavory tactic, to be sure, and not exactly one to be admired. That being said - it couldn’t have happened to a better bunch of guys. This development jeopardized Eigel's property tax reform bill, which seemed unlikely to be heard, let alone passed, unless a compromise on sports betting was reached.</p>
    
                <p>However, instead of seeking a compromise, Eigel and Hoskins once again led a filibuster on the last days of the session, annihilating any chance of sports betting legalization in 2023. Eigel, particularly vocal in his displeasure, declared emphatically that “not one” of his constituents had elected him to address sports betting. He vowed that no deal would be reached on sports betting, regardless of any potential compromises on Personal Property Tax. True to his word, he was happy to embody the old saying about spiting one’s own face.</p>
    
                <p>Compounding this spectacle, Senator Bill Eigel has consistently blamed his opponents for the deadlock on property tax reform, both during the filibuster and in numerous subsequent social media posts. Yet, Eigel conveniently omits his role in the initial filibuster that stymied the first vote on sports betting. Had he refrained from participating, Missouri might already have legal sports betting, and his much-vaunted property tax reform might have had a chance to pass.</p>
                
                <blockquote>
                  <p>
                    "We're not all running for Governor!"
                  </p>
                </blockquote>
                
                <p>The situation escalated when Eigel and Majority Leader Cindy O'Laughlin had a heated exchange, with O'Laughlin retorting, "We're not all running for governor!" – a pointed reference to Eigel's gubernatorial ambitions (Hoskins is speculated to be running for Secretary of State). This incident underscores the lamentable fact that some senators are prioritizing their political aspirations over the immediate needs and desires of the Missourians they represent.</p>
    
                <p>They're making the political process about themselves, overshadowing the real issues, the citizens, and the genuine opportunities that exist within our great state. The focus of this legislature should be the people of Missouri. However, we're being eclipsed by the theatrics of a Senate more engrossed in personal agendas than public service. As the public, we're left on the sidelines, watching a promising opportunity for our state's economy become mired in political squabbling.</p>
    
                <p>The antics of Senators Hoskins and Eigel, akin to the ejected parent at the baseball game, only serve to stall progress and divert attention from the pertinent issues at hand. Their filibusters and unprofessional outbursts have turned the Senate into a spectacle, overshadowing not only the issue of legalized sports betting but also leaving the interests of Missourians comprehensively unaddressed.</p>
                
                <div class="row mx-auto">
                  <div class="col-12 mx-auto text-center">
                    <div class="container-fluid" id="tweet-container-1">
                      <script src="https://platform.twitter.com/widgets.js"></script>
                      <script>
                        twttr.widgets.createTweet(
                          "1657157110994534402",
                          document.getElementById("tweet-container-1"),
                          {
                            
                          }
                        );
                      </script>
                    </div>
                  </div>
                </div>
                <h3>To Our Senators</h3>
    
                <p>Our message to our senators: it's high time you ceased playing the self-centered baseball parent. The people of Missouri are watching. Shift the focus away from yourselves and onto the constituents you're there to serve. Remember, it's not about you—it's about the Show Me State and its people. It’s time to let Missouri play.</p>
    
                <p>I can’t help but recall an occasion last summer, my wife and I witnessed someone doing their best Billy Eigel impression at the field opposite our son’s. As they retreated, a remark from the crowd cut through the uneasy silence: "...you ought to be ashamed of yourself." It was a simple, honest admonition, a call to responsibility that resonates far beyond the baseball diamond.</p>
    
                <p>And so, senators, as you retreat to your summer break, this message is for you. Amid the noise of filibusters and political posturing, listen closely to the quieter voices of your constituents. Hear that parental chide as you start your sedans, the echoes of a more reasonable Missouri ringing in your ears: "...you ought to be ashamed of yourself."</p>
                
                <p>
                  <i>
                    Want to know how you can help? Subscribe to our newsletter (below), 
                    so you never miss a beat!
                  </i>
                </p>
              </div>
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->
    <div class="col-12 col-lg-2 col-xl-4 text-start pt-md-5 mt-3 pe-lg-5 pe-md-5 pb-5 pt-sm-2"> 
      <div id="twitter-timeline"></div>      
        <script>
          twttr.widgets.createTimeline(
            {
              sourceType: "profile",
              screenName: "LetMOPLay",
            },
            document.getElementById("twitter-timeline"),
            {  
              chrome: "nofooter",
              tweetLimit: 5,
              showReplies: "false",
            }
          );
        </script>
      </div>
    </div>
  </div>
</div>
</main><!-- End #main -->
  
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
