<li class="dropdown">
  <a href="/blogs"><span>Blogs</span> <i class="bi bi-chevron-down"></i></a>
  <ul>
    {% for year, month_dict in all_blogs_dict.items() %}
    <li class="dropdown">
      <a href="#"><span>{{ year }}</span><i class="bi bi-chevron-right"></i></a>
      <ul>
        {% for month, blog_list in month_dict.items() %}
        <li class="dropdown">
          <a href="#"><span>{{ month }}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for blog in blog_list %}
            <li><a href="https://letmoplay.com/blogs/{{ year }}/{{ month }}/{{ blog }}">{{ blog }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</li>
