<div class="footer-newsletter" id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Subscribe to the newsletter to stay up to date with the latest in sports-betting legislation news and move Missouri forward in 2023!</h4>
        <p>By subscribing, you are confirming that you agree to the letmoplay.com 
           <a target="_blank" rel="noopener noreferrer" href="https://letmoplay.com/privacy-policy"> Privacy Policy</a>
           and <a target="_blank" rel="noopener noreferrer" href="https://letmoplay.com/user-agreement">User Agreement</a>
           , which includes, but is not limited to, periodic correspondence and occasional personalized ads. You are also confirming that you are 21 years of age or older.</p>
      </div>
      <div class="col-lg-6">
        <form action="/submit-email" method="post">
          <input type="email" name="email" id="email" placeholder="Email Address" aria-label="Email address for Subscription">
            <label for="email">Email address</label>
          <input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</div>