<footer id="footer">

  <div class="footer-newsletter" id="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Subscribe to the newsletter to stay up to date with the latest in sports-betting legislation news and move Missouri forward in 2023!</h4>
          <p>By subscribing, you are confirming that you agree to the letmoplay.com 
             <a href="https://letmoplay.com/privacy-policy"> Privacy Policy</a>
             and <a href="https://letmoplay.com/user-agreement">User Agreement</a>
             , which includes, but is not limited to, periodic correspondence and occasional personalized ads. You are also confirming that you are 21 years of age or older.</p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmobet.com">Let MO Bet</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/user-agreement">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            7055 Mexico Rd #1084<br> 
            St. Peters, MO 63376<br>
            United States <br><br>
            <strong>Phone:</strong> 314-624-0534<br>
            <strong>Email:</strong> contacts@letmoplay.com<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Let MO Play</h3>
          <p>Legalize Sports Betting in Missouri and Unleash New Opportunities for Revenue and Growth</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/LetMOPlay" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://facebook.com/LetMOPlay" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/let.mo.play" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>PG Insights LLC</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>