<footer id="footer">
  {% include "components/email-form.html" %}  
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/blogs">Blogs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://letmoplay.com/#contact">Contact us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" rel="noopener noreferrer" href="https://letmobet.com">Let MO Bet</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" rel="noopener noreferrer" href="/user-agreement">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" rel="noopener noreferrer" href="/privacy-policy">Privacy policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" rel="noopener noreferrer" href="//unsubscribe">Unsubscribe</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            7055 Mexico Rd #1084<br> 
            St. Peters, MO 63376<br>
            United States <br><br>
       <!--     <strong>Phone:</strong> 314-624-0534<br> -->
            <strong>Email:</strong> contacts@letmoplay.com<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Let MO Play</h3>
          <p>Legalize Sports Betting in Missouri and Unleash New Opportunities for Revenue and Growth</p>
          <div class="social-links mt-3">
            <a 
              href="https://twitter.com/LetMOPlay" 
              class="twitter"
              target="_blank" 
              rel="noopener noreferrer"
            >
               <i class="bx bxl-twitter"></i>
            </a>
            <a 
              href="https://facebook.com/LetMOPlay" 
              class="facebook"
              target="_blank" 
              rel="noopener noreferrer"
            >
               <i class="bx bxl-facebook"></i>
            </a>
            <a 
              href="https://instagram.com/let.mo.play" 
              class="instagram"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="bx bxl-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-info">
          <a 
            href="/" 
            class="logo"
          >
            <img 
              src="{{ url_for('static', path='img/lmp_round_logo.png') }}" 
              alt="Let MO PLay Round Logo" 
              class="img-fluid"
             >
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Let MO Play LLC</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>