<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>
    </div>

    <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

      <div class="col-lg-5">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>7055 Mexico Rd. #1084, St. Peters, MO 63376</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>team@letmoplay.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-twitter"></i>
            <h4>Twitter:</h4>
            <p>twitter.com/LetMOPlay</p>
          </div>

        </div>

      </div>

      <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

        <form action="/submit" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control shadow-sm bg-body rounded" id="name" placeholder="Your Name">
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control shadow-sm bg-body rounded" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control shadow-sm bg-body rounded" name="subject" id="subject" placeholder="Subject">
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control shadow-sm 5 bg-body rounded" name="message" rows="5" placeholder="Message" id="message"></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->