<!-- ======= Top Bar ======= -->
<div id="topbar" class="fixed-top d-flex align-items-center topbar-inner-pages">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i><a href="mailto:letmoplay@letmoplay.com">letmoplay@letmoplay.com</a>
      <!-- <i class="bi bi-phone-fill phone-icon"></i> 314-624-0534 -->
    </div>
    <div class="cta d-none d-md-block">
      <a 
        target="_blank" 
        rel="noopener noreferrer" 
        href="/usmnt-stl-tickets-giveaway"
      >
        Enter Giveaway
      </a>
    </div>
  </div>
</div>
<!-- End Top Bar -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-inner-pages">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- <h1 class="logo"><a href="index.html">Let MO Play</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo"><img src="{{ url_for('static', path='img/lmp_slimlogo.svg') }}" alt="Let MO PLay Slim Logo" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="https://letmoplay.com/#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="https://letmoplay.com/#about">About</a></li>
        <li><a class="nav-link scrollto" href="https://letmoplay.com/#team">Stakeholders</a></li>
        {% include "components/blog-nav.html" %}
        <li><a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://letmobet.com">Let MO Bet</a></li>
        <li><a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/LetMOPlay">Twitter</a></li>
        <li><a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://facebook.com/LetMOPlay">Facebook</a></li>
        <li><a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://instagram.com/let.mo.play">Instagram</a></li>
        <li><a class="nav-link scrollto" href="https://letmoplay.com/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->