{% extends "shared/base.html" %}

{% block title %}
  <title>Let MO Play - Subscribe Success!</title>
{% endblock %}

{% block header %}
  <meta http-equiv="refresh" content="5; url=/">
{% endblock %}

{% block content %}
<br><br><br><br><br>
  <section class="contact d-flex justify-cntent-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Stay tuned for more updates to come!</h1>
              <p class="card-text">{{ name }}, you are on the team now!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
  
{% block footer %}
{% endblock %}
  
{% block scripts %}
{% endblock %}