<div class="container" data-aos="fade-up">
  <div class="section-title">
    <h1>Missouri Sports Betting</h1>
    <h2>The "Bad Guys"</h2>
  </div>
  <div class="row g-4">
    <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
      <div class="member d-flex align-items-start">
        <div class="pic">
          <img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Hoskins21.jpg" class="img-fluid" alt="Denny Hoskins Missouri Senate">
        </div>
        <div class="member-info">
          <h4>
            Denny Hoskins
          </h4>
          <span>Missouri Senate, R-Warrensburg</span>
          <p>
            <a href="https://fox2now.com/news/missouri/why-sports-betting-struck-out-again-among-missouri-lawmakers/" target="_blank">"...he is solely responsible that we don’t have sports betting in Missouri, no more, no less.” Senate President Caleb, R-Columbia, said.</a>
          </p>
          <div class="social">
            <a href="https://twitter.com/DLHoskins"><i class="ri-twitter-fill"></i></a>
            <a href="https://www.facebook.com/hoskinsformissouri/"><i class="ri-facebook-fill"></i></a>
            <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=21">
              <i class="bi bi-envelope-at-fill"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col g-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="https://www.senate.mo.gov/WebPhotos/SenatorPortraits/Eigel23.jpg" class="img-fluid " alt="Denny Hoskins Missouri Senate"></div>
        <div class="member-info">
          <h4>
            Bill Eigel
          </h4>
          <span>Missouri Senate, R-Weldon Spring</span>
          <p>
            Bill thrust himself into the Missouri sports betting spotlight late this legislative session by completely shutting down the State Senate for two days straight. Now, he's running for Governor...
          </p>
          <div class="social">
            <a href="https://twitter.com/BillEigel"><i class="ri-twitter-fill"></i></a>
            <a href="https://www.facebook.com/Eigelformo/"><i class="ri-facebook-fill"></i></a>
            <a href="https://www.senate.mo.gov/DistrictWebApplication/Contact?DistrictNumber=23">
              <i class="bi bi-envelope-at-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>