<div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
  <!-- Slide 1 -->
  <div class="carousel-item active">
    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">
        Legalize Missouri Sports Betting - <span>Let MO Play</span>
      </h2>
      <p class="animate__animated animate__fadeInUp">
        Join the team and help us legalize sports betting in Missouri in 2024!
      </p>
      <a href="#subscribe" class="btn-get-started animate__animated animate__fadeInUp scrollto">Let's do this</a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">
        Follow for Free Stuff!
      </h2>
      <p class="animate__animated animate__fadeInUp">
        Follow <a style="color: #F6B024" href="https://instagram.com/let.mo.play"><u>Let MO Play</u></a> on instagram and subscribe so you don't miss our next sports betting themed promotion!
      </p>
      <a 
        target="_blank" 
        rel="noopener noreferrer" 
        href="/join-the-cause" 
        class="btn-get-started animate__animated animate__fadeInUp">
          Join the Team
      </a>
    </div>
  </div>
  <!-- Slide 2 -->
  <div class="carousel-item">
    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">Check Out Our Blog</h2>
      <p class="animate__animated animate__fadeInUp">Exclusive content about Missouri sports betting legalization and sports betting education.</p>
      <a href="/blogs" class="btn-get-started animate__animated animate__fadeInUp scrollto">
        Read More
      </a>
    </div>
  </div>
  <!-- Slide 3 -->
  <div class="carousel-item">
    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">
        Sports betting and the Missouri Senate in 2023 and 2024
      </h2>
      <p class="animate__animated animate__fadeInUp">
        Relive, if you dare, the roller-coaster sports betting debate in the Missouri Senate in 2023. We also take a look at legal sports betting prospects for 2024.
      </p>
      <a href="blogs/2023/July/sports-betting-missouri-senate-2023-2024" class="btn-get-started animate__animated animate__fadeInUp scrollto">
        Read More
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
  </a>
</div>