<div class="container">
  <div class="row" data-aos="zoom-in">
    <div class="col-lg-9 text-center text-lg-start">
      <h3>
        Missouri Sports Betting Newsletter
      </h3>
      <p>
        Subscribe to the newsletter to stay up to date with the latest in Missouri sports betting legalization news and let's make it happen in 2024!
      </p>
    </div>
    <div class="col-lg-3 cta-btn-container text-center">
      <a class="cta-btn align-middle" href="#subscribe">
        Join the Team
      </a>
    </div>
  </div>
</div>