<div class="container" data-aos="fade-up">
  <div class="section-title">
    <h2>Our Content</h2>
    <p>This needs to have an engaging description of out content.</p>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="portfolio-flters">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-bets">Bets</li>
        <li data-filter=".filter-law">Law</li>
        <li data-filter=".filter-sports">Sports</li>
      </ul>
    </div>
  </div>

  <div class="row portfolio-container">
    {% for id, details in blogs_table.items() %}
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <img src="{{ details['creative_path'] }}" class="img-fluid" alt="{{ details['creative_alt'] }}">
      <div class="portfolio-info">
        <h4>App 1</h4>
        <p>App</p>
        <a href="{{ details['creative_path'] }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ details['title'] }}"><i class="bx bx-plus"></i></a>
        <a href="{{ details['blog_link'] }}" class="details-link" title="Link to {{ details['title'] }}"><i class="bx bx-link"></i></a>
      </div>
    </div>

  </div>

</div>