<div class="container">
  <div class="row g-1 mx-auto">
    <div class="col-lg-5 pt-lg-5 mt-lg-5 align-items-stretch position-relative video-box mx-auto" data-aos="fade-right">
      {% include "components/page-sections/twitter-post.html" %}
    </div>
    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">
      <div class="content">
        <h3>
          Legal sports gambling in Missouri could bring <strong>millions of tax dollars</strong> to the state
        </h3>
        <p>
          According to the American Gaming Association, sports betting generated a record $4.33 Billion in revenue in 2022. It remains to be seen what, exactly, the tax rate would be if Missouri were to legalize sports betting. However, published estimates consistently predict legalizing sports betting would generate $20-40 million in additional tax revenue for the state's education system.
        </p>
      </div>
      <div class="accordion-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
              If not Missouri, where can you legally bet on sports?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
            </a>
            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
              <p>
                Of the 8 states that Missouri shares a border with, <a href="https://tulsaworld.com/news/local/business/sports-betting-remains-stalled-in-oklahoma-home-to-the-most-casinos-in-the-country/article_0aca39f8-3a29-11ee-b755-f76515114061.html?utm_medium=social&utm_source=twitter&utm_campaign=user-share">only Oklahoma has yet to legalize sports betting.</a> 
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
              When Will Missouri Legalize Sports Betting?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
            </a>
            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
              <p>
                The short answer is: we don't know. 2023 was supposed to be the year the Missouri Senate finally passed a sports wagering bill, but it wasn't to be. Lengthy filibusters by Denny Hoskins and Bill Eigel (both of which are now running for statewide office!) made sure that there would be no progress on sports betting this year. There was brief discussion from the St. Louis Cardinals and Kansas City Royals about an Initiative Petition, but this hasn't happened. Ideally, with Hoskins and Eigel "terming out" of the Senate in 2024, it will open the door for something positive to happen, but... this is the Missouri Senate after all. And that's why we need your help to spread the word!
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
              How much tax revenue would legal Missouri sports betting generate?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
            </a>
            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
              <p>
                It's tough to say with absolute certainty. Estimates have typically been between $20-40 million per year. One thing we do know, is that since 2018, U.S. bettors have wagered almost a quarter of a trillion dollars (with a 'T') on sports bets. And the <a href="/blogs/2023/May/Missouri-Political-Theatrics-Self-Over-Service">Missouri Education System hasn't collected a dime.</a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>